<div class="container-q">
<h1>Log in!</h1>
<form method='post' action='/sessions'>
  <div class='join'>
  <input type='text' name='username' placeholder='Username' />
  <input type='password' name='password' placeholder='Password' />
  <input type='submit' value='Log in' />
</div>
</form>
</div>
