<h1> Here are your stats for the round</h1>



<p>Questions answered correctly: <%=@round.questions_correct%></p>
<p>Questions answered correctly: <%=@round.questions_incorrect%></p>


<p>Thanks for playing!</p>

<a href= '/decks'>Click here to play again</a>


