<%if  @current_card.guesses.where(round_id: @round_id).length>0%>
  <%if @current_card.guesses.where(round_id: @round_id).last.correct==false%>
    <p>That was wrong please guess again you idiot</p>
  <%end%>
<%end%>



<%if Guess.where(round_id:@round_id).length >0%>
  <%if Guess.where(round_id:@round_id).last.correct==true%>
    <p>You got that last one correct, goodjob</p>
  <%end%>
<%end%>


<div class="container-q">
<div id="wrapper">
 <h1><%=@current_card.question%></h1>
</div>

<div class='qline'></div>


<form method="post" action= "/guesses">
  <div class='q-answer'>
  <input type="text" name="guess" placeholder="Answer">
  <input type="hidden" name="card_id" value="<%="#{@current_card.id}"%>">
  <input type="hidden" name="round_id" value=<%=@round_id%>>
  <input type="submit" name="Submit">
</div>
</form>
</div>

